body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url("img/bg-head.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
header {
  height: 100vh;
  width: 100%;
}
nav {
  height: 5vh;
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 2;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px;
  justify-content: center;
  /* background-color: pink; */

  height: 100%;
  width: 100%;
}
nav ul span {
  margin-right: 20px;
  padding: 5px;
  transition: all 0.5s ease-in-out;
  background-color: none;
  font-size: 20px;
  border-radius: 0px 0px;
  /* color: aliceblue; */
  color: aliceblue;
}
nav ul span:hover {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 22px;
  border-radius: 10px 0px;
  color: purple;
}
a {
  text-decoration: none;
  color: white;
}

a:hover {
  transition: color 0.1s ease-in;
  color: black;
}
.intro {
  position: absolute;
  top: 30vh;
  left: 25vh;
  border: 1px solid black;
  padding: 8px;
  color: white;
  box-shadow: 5px 0px 5px black;
  font-size: 60px;
}
.intro b {
  color: purple;
}
.my-workBtn {
  position: relative;
  z-index: 1;
  background-color: transparent;
  color: white;
  padding: 8px 18px;
  cursor: pointer;
}
.my-workBtn:hover + div {
  height: 32.5px;
  width: 137px;
  background: purple;
  transform: translateY(-36px);
}
/* .my-workBtn:hover {
    background-color: purple;
  } */
.my-workBtn-bg {
  transition: all 0.3s ease-in;
  height: 32.5px;
  width: 0;
  transform: translateY(-36px);
}

/* About section */
.aboutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("img/c-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 52px 0 52px 0;
  height: 90vh;
}

.about {
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 60px;
  padding: 30px 0;
  color: purple;
}
.about-data {
  width: 60%;
  color: white;
  margin: 20px 0;
  padding: 10px;
  font-size: 30px;
}

/* my project section */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px 0;
  height: 90vh;
}

.my-projects {
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 60px;
  padding: 30px 0;
  color: purple;
}

.allProjects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 60vh;
}
.projectName {
  display: flex;
  flex-direction: column;
}
.projectName div {
  padding: 10px;
  margin: 1px;
  width: 100%;
  border: 1px solid white;
  cursor: pointer;
}
.projectName div:hover {
  background-color: purple;
}
.aboutProject {
  align-items: center;
  width: 417px;
  height: 188px;
  display: flex;
}

/* Contact section */
.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
  background-image: url("img/c-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.contact {
  width: 100%;
  height: 60px;
  background: transparent;
  font-size: 60px;
  padding: 30px 0;
  color: purple;
}
.pp img {
  border-radius: 50%;
  width: 50%;
}
.contact-sources {
  font-size: 25px;
}

/* footer */
footer {
  background-color: purple;
  text-align: right;
}
